
// @import "bootstrap/functions";
// @import "bootstrap/variables";
// @import "bootstrap/mixins";
@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;

*,
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

body {
    background: rgb(204, 191, 158);
}

/* -------------------------nav-------------------- */

/*--------- Section asymétrique ---------*/

.section-asymetrique {
    display: grid;
    grid-template: 200px repeat(23, 150px) / 1fr 600px 1fr 600px 1fr;
    background: #ffffff;
}

.section-asymetrique h2 {
    /* deb row / deb col / fin row / fin col */
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 70px;
    padding-top: 50px;
}

/* Bloc-1 & Bloc-3 */

.bloc-1 {
    grid-area: 3 / 2 / 8 / 3;
}
.bloc-3 {
    grid-area: 17 / 2 / 22 / 3;
}
.bloc-left {
    background: #333;
    color: #f1f1f1;
    position: relative;
    left: 100px;
    border-radius: 2px;
}
.bloc-left img {
    position: absolute;
    left: 300px;
    top: 100px;
    width: 100%;
}

.bloc-txt-left {
    width: 50%;
    height: 100%;
}

.bloc-txt-left h3 {
    width: 150% !important;
    font-size: 35px;
    margin: 15px 0;
    padding: 15px;
}
.bloc-txt-left p {
    line-height: 40px;
    padding: 15px;
}

.btn-bloc-bottom {
    border-radius: 9999px;
    outline: 0;
    border: 0;
    background: crimson;
    border: 1px solid #333;
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
}

#btn-hover:hover {
    background: rgb(177, 20, 51);
    color: white;
}

.btn-bloc-left {
    border-radius: 9999px;
    outline: 0;
    border: 0;
    background: crimson;
    border: 1px solid #333;
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
}

/* Bloc-2 */

.bloc-2 {
    grid-area: 10 / 4 / 15 / 5;
    background: #333;
    color: #f1f1f1;
    position: relative;
    right: 100px;
    border-radius: 2px;
}
.bloc-2 img {
    position: absolute;
    right: 300px;
    top: 100px;
    width: 100%;
}
.bloc-txt-2 {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.bloc-txt-2 h3 {
    position: relative;
    right: 40px;
    width: 150% !important;
    font-size: 35px;
    margin: 15px 0;
    padding: 15px;
}
.bloc-txt-2 p {
    line-height: 40px;
    padding: 15px;
}
.bloc-txt-2 button {
    border-radius: 9999px;
    outline: 0;
    border: 0;
    background: crimson;
    border: 1px solid #333;
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
}

/* Lignes verticales */

.ligne-gauche {
    grid-area: 1 / 2 / -1 / 3;
    border-left: 1px solid #333;
}
.ligne-milieu {
    grid-area: 1 / 3 / -1 / 4;
    border-right: 1px solid #333;
}

@media screen and (max-width: 1550px) {
    .section-asymetrique {
        grid-template: 200px repeat(26, 100px) / 1fr 400px 1fr;
    }

    .bloc-1 {
        grid-area: 3 / 2 / 9 / 3;
    }
    .bloc-left {
        left: -150px;
    }
    .bloc-txt-left {
        width: 70%;
    }
    .bloc-txt-left p {
        line-height: 30px;
        padding: 15px;
    }
    .btn-bloc-left {
        padding: 15px 30px;
        font-size: 18px;
        margin: 10px;
    }

    /* Bloc-2 */

    .bloc-2 {
        grid-area: 11 / 2 / 17 / 3;
        right: -150px;
    }
    .bloc-txt-2 {
        width: 70%;
    }
    .bloc-2 img {
        top: 150px;
    }
    .bloc-txt-2 h3 {
        right: 80px;
    }
    .bloc-txt-2 p {
        line-height: 30px;
        padding: 15px;
    }
    .bloc-txt-2 button {
        padding: 15px 30px;
        font-size: 18px;
        margin: 10px;
    }

    .bloc-3 {
        grid-area: 19 / 2 / 25 / 3;
    }

    /* Lignes */

    .ligne-gauche {
        border-right: 1px solid #333;
    }
    .ligne-milieu {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .section-asymetrique {
        grid-template: 200px repeat(35, 100px) / 1fr 400px 1fr;
    }
    .section-asymetrique h2 {
        font-size: 45px;
        padding-top: 0px;
    }

    .bloc-1 {
        grid-area: 2 / 2 / 8 / 3;
        border-bottom: 1px solid #f1f1f1;
    }
    .bloc-left {
        left: 0px;
    }
    .bloc-left img {
        position: absolute;
        left: 0px;
        top: 600px;
    }
    .bloc-txt-left {
        width: 100%;
    }
    .bloc-txt-left h3 {
        width: 100% !important;
        text-align: center;
        margin: 5px 0;
    }
    .bloc-txt-left p {
        font-size: 20px;
        line-height: 40px;
    }
    .btn-bloc-left {
        margin: 10px auto;
    }

    /* bloc-2 */

    .bloc-2 {
        grid-area: 13 / 2 / 19 / 3;
        right: 0px;
        border-top: 1px solid #f1f1f1;
    }
    .bloc-txt-2 h3 {
        position: relative;
        right: 0px;
        width: 100% !important;
        text-align: center;
        font-size: 35px;
        margin: 5px 0;
    }
    .bloc-txt-2 {
        width: 100%;
    }
    .bloc-2 img {
        position: absolute;
        right: 0px;
        top: 600px;
    }
    .bloc-txt-2 p {
        line-height: 40px;
        font-size: 20px;
    }
    .bloc-txt-2 button {
        margin: 10px auto;
    }

    .bloc-3 {
        grid-area: 24 / 2 / 30 / 3;
        border-top: 1px solid #f1f1f1;
    }
}

@media screen and (max-width: 430px) {
    .section-asymetrique {
        grid-template: 200px repeat(32, 100px) / 1fr 320px 1fr;
    }
    .section-asymetrique h2 {
        grid-area: 1 / 1 / 2 / -1;
        font-size: 30px;
    }

    .bloc-txt-left h3 {
        font-size: 25px;
    }
    .bloc-txt-left p {
        font-size: 16px;
    }

    /* b2 */
    .bloc-2 {
        grid-area: 12 / 2 / 18 / 3;
        width: 300px;
    }

    .bloc-1 {
        width: 300px;
    }
    .bloc-txt-2 h3 {
        font-size: 25px;
    }
    .bloc-txt-2 p {
        font-size: 16px;
    }
    .bloc-txt-2 {
        width: 100%;
    }
    .bloc-2 img {
        position: absolute;
        right: 0px;
        top: 600px;
        max-width: 100%;
        height: auto;
    }
    .bloc-txt-2 button {
        margin: 10px auto;
    }

    .bloc-3 {
        grid-area: 22 / 2 / 28 / 3;
        width: 300px;
    }

    .ligne-gauche {
        display: none;
    }
}

/* ------------------------slider------------------ */

.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    width: 800px;
}
.carousel__images {
    display: flex;
    transform: translateX(0);
    transition: transform 0.25s;
}
.carousel__images img {
    border-radius: 5px;
}
.carousel__button {
    background: teal;
    border: 0;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    opacity: 0.25;
    position: absolute;
    transition: opacity 0.25s;
    width: 3rem;
    z-index: 1;
}
.carousel__button.previous {
    left: 5px;
}
.carousel__button.next {
    right: 5px;
}
.carousel__button:hover {
    opacity: 0.5;
}

/* -------Desc------- */

.desc-home {
    width: 100%;
    text-align: center;
}

.title-desc {
    text-align: center;
    border-bottom: 1px solid rgb(115, 155, 248);
    margin-bottom: 40px;
}

.text-desc {
    font-size: 18px;
    padding: 25px;
}

.p-4 {
    background-color: rgb(204, 191, 158);
}


// ------------------------------- contact form -------------------------------------




.text-black {
	color: #000;
}


.heading {
	font-size: 2.5rem;
	font-weight: 900;
}
.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	background: none;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #000;
	}
}
.col-form-label {
	color: #000;
	font-size: 13px;
}
.btn, .form-control, .custom-select {
	height: 45px;
	border-radius: 0;
}
.custom-select {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	&:active, &:focus {
		outline: none;
		box-shadow: none;
		border-color: #000;
	}
}

.btn-contact {
	border: none;
	border-radius: 0;
	font-size: 11px;
	letter-spacing: .2rem;
	text-transform: uppercase;
	border-radius: 30px!important;
	&.btn-primary {
		border-radius: 30px;
		background: #4d80e4;
		color: $white;
		box-shadow: 0 15px 30px 0 rgba(#4d80e4, .2);

	}
	&:hover {
		color: $white;
	}
	&:active, &:focus {
		outline: none;
		box-shadow: none;
	}
}

.contact-wrap {
	box-shadow: 0 0px 20px 0 rgba($black, .2);
	background: $white;
	.col-form-label {
		font-size: 14px;
		color: darken(#ccc, 10%);
		margin: 0 0 10px 0;
		display: inline-block;
		padding: 0;
	}
	.form, .contact-info {
		padding: 40px;
	}
	.contact-info {
		color: rgba($white, .5);
		ul {
			li {
				margin-bottom: 15px;
				color: rgba($white, .5);
				.wrap-icon {
					font-size: 20px;
					color: $white;
					margin-top: 5px;
				}
			}
		}
	}
	.form {
		background: $white;
		h3 {
			color: $black;
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 30px;
		}
	}
	.contact-info {
		height: 100vh;
		a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		@include media-breakpoint-down(lg) {
			height: 400px!important;
		}
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		h3 {
			color: $white;
			font-size: 20px;
			margin-bottom: 30px;
		}
	}
}


label.error {
	font-size: 12px;
	color: red;
}

#message {
	resize: vertical;
}
#form-message-warning, #form-message-success {
	display: none;
}
#form-message-warning {
	color: #B90B0B;
}
#form-message-success {
	color: #55A44E;
	font-size: 18px;
	font-weight: bold;
}
.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

// ------------------- Partner ------------------

.partner__title {
  text-align: center;
  font-family: 'Martel', serif;
}


